@page
@model Web_App.Pages.Menu.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FoodItems</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FoodItems.FoodName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FoodItems.FoodName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FoodItems.FoodDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FoodItems.FoodDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FoodItems.CategoryOfFood)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FoodItems.CategoryOfFood)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FoodItems.Specification)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FoodItems.Specification)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FoodItems.IsAvailable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FoodItems.IsAvailable)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FoodItems.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FoodItems.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FoodItems.ImagePath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FoodItems.ImagePath)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="FoodItems.FoodID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
