@page
@model Web_App.Pages.Menu.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FoodItems</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FoodItems.FoodName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FoodItems.FoodName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FoodItems.FoodDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FoodItems.FoodDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FoodItems.CategoryOfFood)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FoodItems.CategoryOfFood)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FoodItems.Specification)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FoodItems.Specification)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FoodItems.IsAvailable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FoodItems.IsAvailable)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FoodItems.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FoodItems.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FoodItems.ImagePath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FoodItems.ImagePath)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.FoodItems?.FoodID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
