@page

<!DOCTYPE html>
<html lang="en">

<head>
    @model Web_App.Pages.CheckoutModel
    @using Web_App.Data
    @using Microsoft.Extensions.Options
    @{
        ViewData["Title"] = "Checkout";
    }
</head>

<body>
    <!-- Page title -->
    <h1>Gym Junkie Cuisine Checkout</h1>

    <!-- Displaying user's basket items, ready for checkout -->
    @if (Model.Items.Count == 0)
    {
        <p class="fail-text">You do not have any items in your basket. Please make a selection from the <a href="~/Menu">menu</a>!</p>
    }
    else
    {
        <form method="post" >
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        @if (item.Quantity > 0)
                        {
                            var subtotal = item.Price * item.Quantity;
                            <tr>
                                <td>@item.Item_Name</td>
                                <td>@item.Price.ToString("C")</td>
                                <td>
                                    <!-- Adjust item totals with (-) & (+) buttons -->
                                    <button type="submit" class="btn btn-danger btn-sm fw-bold" asp-page-handler="Remove" asp-route-checkoutItemID="@item.ID">–</button>
                                    @item.Quantity
                                    <button type="submit" class="btn btn-success btn-sm fw-bold" asp-page-handler="Add" asp-route-checkoutItemID="@item.ID">+</button>
                                </td>
                                <td>@subtotal.ToString("C")</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

            <h2>Order Total: @Model.Total.ToString("C")</h2>

            <button type="submit" class="btn btn-primary" asp-page-handler="Buy">Buy</button>
        </form>
    }
</body>

</html>
