@page
@model Web_App.Pages.Menu.DeleteModel

<!DOCTYPE html>
<html lang="en">

<head>
@{
    ViewData["Title"] = "Delete";
}
</head>

<body>

    <div class="content-spacing">

        <h1>Are you sure you want to delete this menu item?</h1>
        <div>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    Food Name
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FoodItem.FoodName)
                </dd>
                <dt class="col-sm-2">
                    Food Description
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FoodItem.FoodDescription)
                </dd>
                <dt class="col-sm-2">
                    Category of Food
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FoodItem.CategoryOfFood)
                </dd>
                <dt class="col-sm-2">
                    Specification
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FoodItem.Specification)
                </dd>
                <dt class="col-sm-2">
                    Available?
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FoodItem.IsAvailable)
                </dd>
                <dt class="col-sm-2">
                    Price
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FoodItem.Price)
                </dd>
                <dt class="col-sm-2">
                    Image File Path
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FoodItem.ImagePath)
                </dd>
            </dl>

            <form method="post">
                <input type="hidden" asp-for="FoodItem.FoodID" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-page="./Index">Back to List</a>
            </form>
        </div>

    </div>

</body>

</html>